body{
    min-width:600px;
    min-height:100px;
    background-color: #7c8c9c;
    padding: 20px 10px 10px 10px;
}
/*
#search-header{
    margin:20px 10px; 
}
*/
#search-input{
    color: white;
}

#previous-button{
    position: fixed;
    bottom: 50%;
    top: 50%;
    left: 10px;
}

#next-button{
    position: fixed;
    bottom: 50%;
    top: 50%;
    right: 10px;
}

.navigation-button{
    opacity: 0.3;
}

.navigation-button:hover{
    opacity: 1;
}
.after-search-header{
    display:block;
    padding:6px !important;
    background-color:#546e7a;
    box-shadow: 0px 0px 6px 1px #588186
}
#question-title{
    display:block;
    font-size:16px;
    text-align: center;
}
#search-query{
    display:block;
    font-size:10px;
}
.block-hidden{
    display: none;
}
/* 
styles for question/answer html from SO.
Using similar style as used in SO.
*/
.answer-body p{
    clear: both;
    margin-bottom: 2px !important;
    margin-top: 0 !important;
    font-size: 13px;
}

.answer-body pre code{
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    color: #ffff00 !important;
    font-size: 12px !important;
    max-width: 520px;
    max-height: 300px;
    overflow: auto;
}
.answer-body pre{
    background-color:#000000 !important;
    display: block;
    padding:7px; 
    max-width: 520px;
    max-height: 300px;
    overflow: auto;
}

.question-body p{
    clear: both;
    margin-bottom: 2px !important;
    margin-top: 0 !important;
    font-size: 13px;
}

.question-body pre code{
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    color: #000 !important;
    font-size: 12px !important;
}
.question-body pre{
    background-color:#fff !important;
    display: block;
    padding:7px; 
    max-width: 520px;
    max-height: 300px;
    overflow: auto;
}
.answer-body h1,.answer-body h2,.answer-body h3,.answer-body h4,.answer-body h5,.answer-body h6{
    font-size: 14px;
    font-weight: 500;
}
/*dont show images*/
.answer-body img, .question-body img{
    display: none;
}
/* 
custom scrollbar
*/
/* width */
 ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
   
  /* Handle */
 ::-webkit-scrollbar-thumb {
    background: #512da8; 
    border-radius: 5px;
}
  
  /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: #311b92; 
}

/*styles based on collapsible design*/
.question-title{
    font-size: 16px;
}

.collapsible-body{
    padding: 2px !important; 
    border-right: 2px solid #31424a !important;
}

.collapsible{
    border: 0px !important;
}

.collapsible-item-content row {
   margin-bottom: 0px !important; 
}

.collapsible-header{
    box-shadow: 6px 6px 10px -4px black;
}

/*custom loader */

.loader {
    border: 8px solid #f3f3f3c4;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s ease-in-out infinite;
    position: fixed;
    right: 50%;
    top: 40%;
    z-index: 9999;
    box-shadow: 0px 0px 10px 1px #353030;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .fixed-action-btn{
      opacity: 0.4;
  }
  .fixed-action-btn:hover{
      opacity: 1.0;
  }