body{
    min-width:600px;
    min-height:100px;
    background-color: #7c8c9c;
    padding: 20px 10px 10px 10px;
}
/*
#search-header{
    margin:20px 10px; 
}
*/
#search-input{
    color: white;
}

#previous-button{
    position: fixed;
    bottom: 50%;
    top: 50%;
    left: 10px;
}

#next-button{
    position: fixed;
    bottom: 50%;
    top: 50%;
    right: 10px;
}

.navigation-button{
    opacity: 0.3;
}

.navigation-button:hover{
    opacity: 1;
}